<!-- Trang thanh toán -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>DKD - Electronics eCommerce</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico" />

    <!-- CSS 
    ========================= -->

    <!-- Plugins CSS -->
    <link rel="stylesheet" href="/stylesheets/plugins.css" />

    <!-- Main Style CSS -->
    <link rel="stylesheet" href="/stylesheets/style.css" />

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap Icons -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <!-- Add Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Add FontAwesome CSS (for icons) -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">

    <!-- Add Bootstrap JS (including Popper.js) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>


  </head>
  <body>
    <!-- Include header component -->
    <%- include('./components/header.ejs') %>

    <!--breadcrumbs area start-->
    <div class="breadcrumbs_area">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="breadcrumb_content">
              <ul>
                <li><a href="/">home</a></li>
                <li>Checkout</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--breadcrumbs area end-->

    <!--Checkout page section-->
    <div class="Checkout_section mt-60">
      <div class="container">
        <div class="checkout_form">
          <form action="/checkout" method="POST">
            <div class="row">
              <div class="col-lg-6 col-md-6">
                <h3>Billing Details</h3>
                <div class="row">
                  <div class="col-lg-12 mb-20">
                    <label>Full Name <span>*</span></label>
                    <div class="input-group">
                      <span class="input-group-text"><i class="fas fa-user"></i></span>
                      <input type="text" name="fullname" class="form-control"/>
                    </div>
                  </div>
                  <div class="col-12 mb-20">
                    <label for="country">State <span>*</span></label>
                    <select name="state" id="country" class="form-control">
                      <!-- Add state options here -->
                    </select>
                  </div>
              
                  <div class="col-12 mb-20">
                    <label>Street address <span>*</span></label>
                    <div class="input-group">
                      <span class="input-group-text"><i class="fas fa-map-marker-alt"></i></span>
                      <input type="text" placeholder="House number and street name" name="fullAddress" class="form-control"/>
                    </div>
                  </div>
                  <div class="col-12 mb-20">
                    <label>Town / City <span>*</span></label>
                    <div class="input-group">
                      <span class="input-group-text"><i class="fas fa-city"></i></span>
                      <input type="text" name="city" id="city" class="form-control"/>
                    </div>
                  </div>
                  <div class="col-lg-6 mb-20">
                    <label>Phone <span>*</span></label>
                    <div class="input-group">
                      <span class="input-group-text"><i class="fas fa-phone"></i></span>
                      <input type="text" class="form-control"/>
                    </div>
                  </div>
                  <div class="col-lg-6 mb-20">
                    <label>Email Address <span>*</span></label>
                    <div class="input-group">
                      <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                      <input type="text" name="email" class="form-control"/>
                    </div>
                  </div>
                </div>
              </div>
              
              <div class="col-lg-6 col-md-6">
                <div>
                  <h3>Your order</h3>
                  <div class="order_table table-responsive">
                    <table>
                      <thead>
                        <tr>
                          <th>Product</th>
                          <th>Total</th>
                        </tr>
                      </thead>
                      <tbody>
                        <%
                          if(cartItemList.length && cartItemList.length > 0){
                              cartItemList.forEach((item)=>{
                                  %>
                                  <tr>
                                    <td><%=item.productId.name%><strong> × <%=item.quantity%></strong></td>
                                    <td><%=new Intl.NumberFormat('vi-VN', {
                                            style: 'currency',
                                            currency: 'VND'
                                        }).format(parseInt(item.productId.price) * parseInt(item.quantity))%></td>
                                  </tr>
                                  <%
                              })
                          }
                        %>
                      </tbody>
                      <tfoot>
                        <tr>
                          <th>Cart Subtotal</th>
                          <td id="orderSubTotal">
                          <%
                              let subtotal = 0;
                              if(cartItemList.length && cartItemList.length > 0){
                                  cartItemList.forEach((item)=>{
                                      subtotal += parseInt(item.quantity)*parseInt(item.productId.price);
                                  })
                              }
                          %>
                          <%= subtotal.toLocaleString('vi-VN', { style: 'currency', currency: 'VND' }) %>
                          </td>
                        </tr>
                        <tr>
                          <th>Shipping</th>
                          <td><strong id="shippingFeeElement">...</strong></td>
                        </tr>
                        <tr class="order_total">
                          <th>Order Total</th>
                          <td><strong id="orderTotal"></strong></td>
                        </tr>
                      </tfoot>
                    </table>
                  </div>
              
                  <!-- Collapse phần "Create an account" với icon -->
                  <div class="col-12 mb-20">
                    <label for="account" id="toggleCollapse">
                      <i class="fas fa-user-plus"></i> <i>Create an account?</i>
                    </label>

                    <div id="collapseOne" class="collapse one">
                      <div class="card-body1">
                        <label> Username <span>*</span></label>
                        <input placeholder="Enter your username" type="text" class="form-control"/>
                        <label> Account password <span>*</span></label>
                        <input placeholder="password" type="password" class="form-control"/>
                        <label> Re_account password <span>*</span></label>
                        <input placeholder="password" type="password" class="form-control"/>
                      </div>
                    </div>
                  </div>
              
                  <!-- Nút submit với icon giỏ hàng -->
                  <%
                      if(cartItemList.length && cartItemList.length > 0){
                        %>
                        <button type="submit" class="btn-purchases btn btn-primary">
                          <i class="fas fa-shopping-cart"></i> PURCHASES
                        </button> 
                        <%
                      }else{
                        %>
                        <button type="submit" class="btn-purchases btn btn-primary" disabled>
                          <i class="fas fa-shopping-cart"></i> No product chose !!
                        </button> 
                        <%
                      }
                  %>
                  </button> 
                </div>
              </div>
              
          </div>
          </form>
        </div>
      </div>
    </div>
    <!--Checkout page section end-->

    <!-- Include footer component -->
    <%- include('./components/footer.ejs') %>

    <!-- Plugins JS -->
    <script src="/javascripts/plugins.js"></script>

    <!-- Main JS -->
    <script src="/javascripts/index.js"></script>

    <script src="/javascripts/checkout.js"></script>
  </body>
</html>