<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Admin</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:400,700"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
    <link rel="stylesheet" href="/stylesheets/templatemo-style.css" />
  </head>

  <body>
    <%- include('nav.ejs') %>
    <div class="container mt-5">
      <div class="row tm-content-row">
        <div class="col-12 tm-block-col">
          <div class="mb-3">
            <select id="categoryFilter" class="custom-select" onchange="filterByCategory()">
              <option value="">All Categories</option>
              <% categories.forEach(function(category) { %>
                <option value="<%= category._id %>" <%= selectedCategoryId == category._id ? 'selected' : '' %>><%= category.name %></option>
              <% }); %>
            </select>
          </div>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">PRODUCT ID</th>
                <th scope="col">NAME</th>
                <th scope="col">DESCRIPTION</th>
                <th scope="col">PRICE</th>
                <th scope="col">STOCK</th>
                <th scope="col">CATEGORY</th>
                <th scope="col">ACTIONS</th>
              </tr>
            </thead>
            <tbody>
              <% products.forEach(function(product) { %>
                <tr>
                  <th scope="row"><%= product._id %></th>
                  <td><%= product.name %></td>
                  <td><%= product.description %></td>
                  <td><%= product.price %></td>
                  <td><%= product.stock %></td>
                  <td><%= categories.find(category => category._id.equals(product.categoryId)).name %></td>
                  <td>
                    <a href="/admins/product_view/<%= product._id %>" class="tm-product-edit-link">
                      <i class="fas fa-edit tm-product-edit-icon"></i>
                    </a>
                    <a  class="tm-product-delete-link" onclick="setDeleteAction(this);" data-product-id="<%= product._id %>">
                      <i class="fas fa-trash tm-product-delete-icon"></i>
                    </a>
                  </td>
                </tr>
              <% }); %>
            </tbody>
          </table>
          <a
            href="/admins/product_add"
            class="btn btn-primary btn-block text-uppercase mb-3"
          >Add new product</a>
          <!-- Pagination -->
          <div class="pagination-container" style="padding-top: 20px">
            <ul class="pagination justify-content-center">
              <% if (currentPage > 1) { %>
                <li class="page-item">
                  <a class="page-link" href="?page=<%= currentPage - 1 %>&categoryId=<%= selectedCategoryId %>">Previous</a>
                </li>
              <% } else { %>
                <li class="page-item disabled">
                  <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                </li>
              <% } %>

              <% 
                let startPage = Math.max(1, currentPage - 2);
                let endPage = Math.min(totalPages, currentPage + 2);
                if (endPage - startPage < 4) {
                  if (startPage === 1) {
                    endPage = Math.min(totalPages, startPage + 4);
                  } else if (endPage === totalPages) {
                    startPage = Math.max(1, endPage - 4);
                  }
                }
              %>

              <% for (let i = startPage; i <= endPage; i++) { %>
                <li class="page-item <%= currentPage === i ? 'active' : '' %>">
                  <a class="page-link" href="?page=<%= i %>&categoryId=<%= selectedCategoryId %>"><%= i %></a>
                </li>
              <% } %>

              <% if (currentPage < totalPages) { %>
                <li class="page-item">
                  <a class="page-link" href="?page=<%= currentPage + 1 %>&categoryId=<%= selectedCategoryId %>">Next</a>
                </li>
              <% } else { %>
                <li class="page-item disabled">
                  <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
                </li>
              <% } %>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- Delete Confirmation Modal -->
    <div
      class="modal fade"
      id="deleteConfirmModal"
      tabindex="-1"
      aria-labelledby="deleteConfirmModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <form id="confirmDeleteForm" action="" method="post">
            <div class="modal-header">
              <h5 class="modal-title" id="deleteConfirmModalLabel">
                Confirm Deletion
              </h5>
            </div>
            <div class="modal-body">
              Are you sure you want to delete the selected items?
            </div>
            <div class="modal-footer">
              <button
                type="submit"
                class="btn btn-primary"
                id="confirmDeleteBtn"
              >
                Delete
              </button>
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Cancel
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <script src="/javascripts/jquery-3.3.1.min.js"></script>
    <script
      src="https://code.jquery.com/ui/1.14.0/jquery-ui.min.js"
      integrity="sha256-Fb0zP4jE3JHqu+IBB9YktLcSjI1Zc6J2b6gTjB0LpoM="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
    <script>
      $(function () {
        $(".tm-product-delete-icon, #deleteSelectedProductsBtn").on(
          "click",
          function () {
            $("#deleteConfirmModal").modal("show");
          }
        );

        $("#confirmDeleteBtn").on("click", function () {
          // Add your delete logic here
          $("#deleteConfirmModal").modal("hide");
        });
      });

      function setDeleteAction(button) {
        const productId = button.getAttribute("data-product-id");
        document
          .querySelector("#confirmDeleteForm")
          .setAttribute("action", `/admins/product_delete/${productId}`);
      }

      function filterByCategory() {
        const categoryId = document.getElementById('categoryFilter').value;
        window.location.href = `/admins/product-list?categoryId=${categoryId}`;
      }
    </script>
  </body>
</html>
